*{box-sizing:border-box;}
#header{background-color:rgb(200,200,200); width:50%; margin:auto;padding:20px; border-radius:5px;border-left:10px solid blue;box-sizing:border-box;}
#header p{font-size:4vw;font-family:arial, verdana; border:2px solid rgb(170,150,220); border-radius:45px; text-align:center;width:50%; margin:auto; background-color:rgb(170,150,220); color:blue; box-sizing:border-box;}
#disp{background-color:rgb(100,120,50); width:50%; font-family: typewriter; margin:auto; text-align:right; height:40px; font-size:30px; color:white;}
#row1 button{background-color : darkblue; color:white; border:1px solid black; border-radius:10px; font-size:1.5em; padding:15px;opacity:0.7;}
#row1 button:hover{opacity:1; cursor:pointer;}
#col1 button{background-color : rgb(180,0,0); color:white; border:1px solid rgb(180,0,0); border-radius:20px; font-size:2vw; padding:15px;opacity:0.7; margin:4px;}
#col1 button:hover{cursor:pointer; opacity:1;}
#horz{box-sizing:border-box; border:5px solid khaki; float:left; width:40%; text-align:center; background-color:orange; padding:5px;}
#horz::after{clear:both; display:table; content:"";}
#horz button{background-color : rgb(70,0,50);margin:2px; color:white; border:1px solid rgb(180,0,0); border-radius:20px; font-size:2vw; padding:15px; opacity:0.7;}
#horz button:hover{cursor:pointer; opacity:1;}
#controls{margin:auto;width:50%; border:2px groove grey;}
#controls::after{clear:both; display:table; content:"";}
#row1{width:60%; text-align:center;float:left; border-left:20px solid blue; border-right:20px solid blue; border-radius:10px;box-sizing:border-box; padding:5px; height:50%;}
#row1::after{clear:both; content:"";display:table;}
#col1{width:40%; float:left; border:5px groove red; border-radius:5px; box-sizing:border-box; padding:5px; text-align:center; background-color:khaki;}
#row1 #rowfirst{width:100%; margin:5px;}
#row1 #rowsecond{width:100%; margin:5px;}
#row1 #rowthird{width:100%; margin:5px;} 
#row1 #rowfourth{width:100%; margin:5px;}
@media screen and (max-width : 700px)
{
#row1{border:none;}
#col1{border:none;}
#horz{border:none;}
}
@media screen and (max-width : 550px)
{
#disp{font-size:10px;}
#row1{width:50%;}
#col1{width:20%;}
#horz{width:30%;}
#row1 button{ padding : 0px;}
#col1 button { padding : 0px; font-size:1.5em;}
#horz button { padding:0px;}
}
